
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" type="text/css" href="../css/util.css">
<dom-module id="my-accliente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Acces</h1>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.</p>

      <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
    </div>
  </template>

  <script>
    class MyAccliente extends Polymer.Element {
      static get is() { return 'my-accliente'; }
    }

    window.customElements.define(MyAccliente.is, MyAccliente);
  </script>
</dom-module>
