<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="cuentasstyles">
  <template>
    <style>
    .circulo {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.10, #140F99), color-stop(1, #5C097F) );
      background:-moz-linear-gradient( center top, #140F99 30%, #5C097F auto );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#140F99', endColorstr='#5C097F');
      background-color:#140F99;
      color:#FFFFFF; font-size: 18px; font-weight: bold;  solid #4C18A8;
  -    display: inline-block;
      width: 124px;
      height: 64px;
      text-align: center;
      border-radius: 50%;
      font-size: 25px;
      font-family: "Times New Roman", Georgia, Serif;
      line-height: 64px;
    }
    hr {
      border: 0;
      height: -10px;
      margin-right: 0%;
      width: 100%;
      background-color: red;

    }
    .tdcentro {
        text-align: center;
      }
      .tdderecha {
        text-align: right;
      }
      .tdizquierda {
        text-align: left;
      }
    .datos{
      margin-top: -60px;
      margin:7% auto auto auto;
      width: 40em;
      max-width: 90%;
      opacity: 0.86;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      padding:16px;
      left:50%;
       border-radius: 20px;
       background-color: #EDECE1;

       text-align: left;
    }
    .card2 {
      margin: 24px;
      padding: 16px;
       width: 400px;
      opacity: 0.9;
      color: #757575;
      border-radius: 25px;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.140), 0 1px 5px 0 rgba(0, 0, 0, 0.120), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
.datagrid {padding: 12px 35px}
.datagrid table { border-collapse: collapse; text-align: right; width: auto; }
table {font: normal 24px/150% Arial, Helvetica, sans-serif; #fff; overflow: hidden; border-radius: 15px;   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);}
.datagrid table td,
.datagrid table th { padding: 3px 10px; text-align: center;}
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #140F99), color-stop(1, #5C097F) );background:-moz-linear-gradient( center top, #140F99 5%, #5C097F auto );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#140F99', endColorstr='#5C097F');background-color:#140F99; color:#FFFFFF; font-size: 18px; font-weight: bold;  solid #4C18A8; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00557F; border-left: 3px solid #0C3BF4;font-size: 16px;border-bottom: 1px solid #631BF4;font-weight: normal; }
.datagrid table tbody .alt td { background: #D2F4EB; color: #00557F; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #293499;background: #E1EEF4;}
.datagrid table tfoot td { padding: 0; font-size: 18px }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F auto );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

    </style>
  </template>
</dom-module>
