
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-accliente">
  <template>
    <style include="shared-styles">
    .container {
        width: 40px;
        max-width: 130%;
        margin: 122px 604px;
    }

    #signup {
        padding: 25px 25px 25px 25px;
        background: #fff;
        box-shadow:
            0px 0px 0px 5px rgba( 255,255,255,0.4 ),
            0px 4px 20px rgba( 0,0,0,0.33 );
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 54px;
        display: table;
        position: static;
    }

    #signup .header {
        margin-bottom: 20px;
    }

    #signup .header h3 {
        color: #333333;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #signup .header p {
        color: black;
        font-size: 14px;
        font-weight: 300;
    }

    #signup .sep {
        height: 1px;
        background: #e8e8e8;
        width: 46px;
        margin: 0px -25px;
    }

    #signup .inputs {
        margin-top: 25px;
    }

    #signup .inputs label {
        color: #8f8f8f;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 7px;
        display: block;
    }

    input::-webkit-input-placeholder {
        color:    #b5b5b5;
    }

    input:-moz-placeholder {
        color:    blue;
    }



.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(16) {
  left: 75%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  background-color: rgba(255, 255, 255, 0.3);
}




    #signup .inputs input[type=email], input[type=passwsord] {
        background: #f5f5f5;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13px 10px;
        width: 330px;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;
    }

    #signup .inputs input[type=text]:focus, input[type=password]:focus {
        background: #fff;
        box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
        outline: none;
    }

    #signup .inputs .checkboxy {
        display: block;
        position: static;
        height: 25px;
        margin-top: 10px;
        clear: both;
    }

    #signup .inputs input[type=checkbox] {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    #signup .inputs label.terms {
        float: left;
        font-size: 14px;
        font-style: italic;
    }

    #signup .inputs #submit {
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
            background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#b9c5dd),
            to(#a4b0cb));
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #737b8d;
        -moz-box-shadow:
            0px 5px 5px rgba(000,000,000,0.1),
            inset 0px 1px 0px rgba(255,255,255,0.5);
        -webkit-box-shadow:
            0px 5px 5px rgba(000,000,000,0.1),
            inset 0px 1px 0px rgba(255,255,255,0.5);
        box-shadow:
            0px 5px 5px rgba(000,000,000,0.1),
            inset 0px 1px 0px rgba(255,255,255,0.5);
        text-shadow:
            0px 1px 3px rgba(000,000,000,0.3),
            0px 0px 0px rgba(255,255,255,0);
        display: table;
        position: static;
        clear: both;
    }

    #signup .inputs #submit:hover {
        background: -moz-linear-gradient(
            top,
            #a4b0cb 0%,
            #b9c5dd);
        background: -webkit-gradient(
            linear, left top, left bottom,
            from(#a4b0cb),
            to(#b9c5dd));
    }

    </style>



    <div class="container">

      <form id="signup">

          <div class="header">

              <h3>Login</h3>

              <p>Ingresa tu usuario y contraseña</p>

          </div>

          <div class="sep"></div>

          <div class="inputs">

              <input type="text" id="usuario" name="usuario" placeholder="Usuario" autofocus />
                <br />
                <br />
              <input type="password" id="password" name="password" placeholder="Password" />

              <p id="submit" on-click="login" ><strong>Accesar</strong></p>

          </div>

      </form>

  </div>
  </template>

  <script src="../js/my-accliente.js"></script>

</dom-module>
