
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="cuentasstyles.html">


<dom-module id="my-cuentas">
  <template>
    <style include="cuentasstyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo">Cuentas</div>
      <p>A continuaciòn se muestran sus cuentas</p>
        <div class="row">
          <div class="datagrid">
              <table>
                <thead>
                  <th>Cuenta</th>
                  <th>Tipo</th>
                  <th>Saldo</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{data.cuentas.0.Cuenta}}">
                    <tr>
                      <td class="left">[[item.enmascarada]] </td>
                      <td class="center">[[item.tipo]]</td>
                      <td class="right">[[item.saldoformateado]]</td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </template>
  <script src="../js/my-cuentas.js"></script>
</dom-module>
