
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="comprastyles.html">

<dom-module id="my-compras">
  <template>
    <style include="comprastyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo2"><strong>Compras</strong></div>
      <p>A un click de distancia</p>
      <div class="row">
        <select name="selectcompras"id="selectcompras">
          <option value="0">Elije una opcion</option>
          <option value="1" selected="true">Comprar gasolina</option>
        </select>
            <p>
                Precio Litro Premiun: <input type="text" class="gas"  disabled="disabled" name="gas" id="gas" value="[[data.premium]] "/>
                Listros a comprar: <input type="number" on-change="consultatotal"  id="Canlitros" name="Canlitros" value="0"/>
            </p>
            <p>
              Total:<input type="text" class="gas"  disabled="disabled" name="total" id="total" value="[[ctotal]] "/>
              Cuenta de pago:
              <select id="cuentapago" name="cuentapago">
                <option value="-1" selected="seleccion">Elija tarjeta</option>
                <template is="dom-repeat" items="{{data.cuentas.0.Cuenta}}">
                <option value="[[item.indice]]">[[item.enmascarada]]
                  </template>
              </select>
              <br />
              <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="comprar"  on-click="comprar">comprar</button>
            </p>
            <div id="mensaje" class="mensaje">

            </div>


        <!--      <img src="https://api.qrserver.com/v1/create-qr-code/?data=yeide" alt="https://api.qrserver.com/v1/create-qr-code/?data=yeide">
        -->
        </div>
    </div>
  </template>

<script src="../js/my-compras.js"></script>
</dom-module>
