
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="datostyles.html">

<dom-module id="my-datos">
  <template>
    <style include="datostyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo">Mis Datos</div>
      <p>Mis Datos registrados son:</p>
        <div class="row">
          <div class="datagrid">
            <h3>Personales: </h3>
            <p>
              <strong>Nombre: </strong> [[data.0.nombre1]] [[data.0.nombre2]] [[data.0.apellido1]] [[data.0.apellido2]]
            <br />
              <strong>Fecha de nacimiento: </strong>  [[data.0.fecha_nacimiento]]
            <br />
              <strong>RFC: </strong>  [[data.0.RFC]]
            <br />
              <strong>Fecha de Ingreso: </strong>  [[data.0.fecha_ingreso]]
            </p>
            <h3>Direcciones: </h3>
              <table>
                <thead>
                  <th>Calle</th>
                  <th>Colonia</th>
                  <th>Delegacion</th>
                  <th>Estado</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{data.dir.0.direccion}}">
                    <tr>
                      <td class="left">[[item.calle]] </td>
                      <td class="center">[[item.colonia]]</td>
                      <td class="right">[[item.delegacion]]</td>
                      <td class="right">[[item.estado]]</td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
          <div class="datagrid">
            <h3>Telefonos: </h3>
              <table>
                <thead>
                  <th>Lada</th>
                  <th>Telefono</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{data.tel.0.telefono}}">
                    <tr>
                      <td class="left">[[item.lada]] </td>
                      <td class="center">[[item.telefono]]</td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </template>

<script src="../js/my-datos.js"></script>
</dom-module>
