
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-inicio">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

  
  </template>

  <script>
    class MyInicio extends Polymer.Element {
      static get is() { return 'my-inicio'; }
    }

    window.customElements.define(MyInicio.is, MyInicio);
  </script>
</dom-module>
