
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="movistyles.html">

<dom-module id="my-movi">
  <template>
    <style include="movistyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo">Movimientos</div>
      <p>Movimientos presentados al dia:</p>

        <div class="row">
          <div class="datagrid">
              <table>
                <thead>
                  <th>Contrato</th>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th>Importe</th>
                  <th>Descripcion</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{data.Movimientos.0.movimientos}}">
                    <tr>
                      <td class="left">[[item.enmascarada]] </td>
                      <td class="left">[[item.fecha]] </td>
                      <td class="left">[[item.Tipo]] </td>
                      <td class="center">[[item.importeformateado]]</td>
                      <td class="right">[[item.descripcion]]</td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </template>

<script src="../js/my-movi.js"></script>
</dom-module>
