
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="nuevostyles.html">

<dom-module id="my-nuevo">
  <template>
    <style include="nuevostyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo2"><strong>Nuevo Registro</strong></div>
      <p>A un click de estar con nosotros</p>
      <div class="row">
        <p> <strong>Personales</strong><br />
            Primer nombre: <input type="text" class="gas1"  name="nombre1" id="nombre1" value=""/>
            Segundo nombre: <input type="text" class="gas1"  name="nombre2" id="nombre2" value=""/><br />
            Apellido Paterno: <input type="text" class="gas1"  name="apellido1" id="apellido1" value=""/>
            Apellido Materno: <input type="text" class="gas1"  name="apellido2" id="apellido2" value=""/><br />
            Fecha nacimiento: <input type="text" class="gas1"  name="fecha_nacimiento" id="fecha_nacimiento" value=""/>
            RFC: <input type="text" class="gas1"  name="RFC1" id="RFC" value=""/><br />
            Usuario: <input type="text" class="gas1"  name="numclient" id="numclient" value=""/>
            Password: <input type="password" class="gas1"  name="password" id="password" value=""/>
          </p>
          <p><strong>Datos del contrato</strong><br />
            Contrato: <input type="text" class="gas2"  name="contrato" id="contrato" value=""/>
            Plastico: <input type="text" class="gas2"  name="plastico" id="plastico" value=""/><br />
            Tipo: <select name="tipocar"id="tipocar">
              <option value="TDC">Tarjeta Credito</option>
              <option value="TDD">Tarjeta Debito</option>
            </select>
            Saldo Inicial: <input type="numer" class="gas1"  name="saldo" id="saldo" value=""/>
        </p>
        <p><strong>Direcion</strong><br />
          Calle: <input type="text" class="gas3"  name="calle" id="calle" value=""/><br />
          Colonia: <input type="text" class="gas1"  name="colonia" id="colonia" value=""/>
          Delegacion: <input type="text" class="gas1"  name="delegacion" id="delegacion" value=""/><br />
          Estado: <input type="text" class="gas1"  name="estado" id="estado" value=""/>
          Tipo:<select name="tipodom"id="tipodom">
            <option value="P">Principal</option>
            <option value="A">Alterno</option>
          </select>
      </p>
      <p><strong>Telefno</strong><br />
        Lada: <input type="text" class="gas1"  name="lada" id="lada" value=""/>
        Telefono: <input type="text" class="gas1"  name="telefono" id="telefono" value=""/>
        Tipo:<select name="tipotel"id="tipotel">
          <option value="P">Casa</option>
          <option value="C">Celular</option>
        </select>
      </p>
        <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="nuevo"  on-click="nuevo">Alta</button>
        <div id="mensaje" class="mensaje">
        </div>
      </div>
    </div>
  </template>

<script src="../js/my-nuevo.js"></script>
</dom-module>
