
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="valestyles.html">


<dom-module id="my-vales">
  <template>
    <style include="valestyles">
      :host {
        display: block;

        padding: 10px;
      }
            </style>

    <div class="datos">
      <div class="circulo">Vales</div>
      <p>A continuaciòn se muestran su historico de vales</p>
        <div class="row">
          <div class="datagrid">
              <table>
                <thead>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th>Monto</th>
                  <th>Litros</th>
                  <th>Codigo QR</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{data.vales}}">
                    <tr>
                      <td class="left">[[item.fecha]] </td>
                      <td class="right">[[item.tipo]]</td>
                      <td class="right">[[item.monto]]</td>
                      <td class="right">[[item.litros]]</td>
                      <td class="right">
                        <a href ="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=[[item.litros]]|[[item.codigo]]" target="_blank">Ver</a>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </template>
  <script src="../js/my-vales.js">
  </script>
</dom-module>
