<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">


      <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="description" content="Creative CSS3 Animation Menus" />
       <meta name="keywords" content="menu, navigation, animation, transition, transform, rotate, css3, web design, component, icon, slide" />
       <meta name="author" content="Codrops" />
       <link rel="shortcut icon" href="../imgaes/favicon.ico">




<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-inicio.html">
<link rel="lazy-import" href="my-accliente.html">
<link rel="lazy-import" href="my-cuentas.html">
<link rel="lazy-import" href="my-movi.html">
<link rel="lazy-import" href="my-nuevo.html">
<link rel="lazy-import" href="my-vales.html">
<link rel="lazy-import" href="my-datos.html">
<link rel="lazy-import" href="my-yeide.html">
<link rel="lazy-import" href="my-compras.html">

<dom-module id="my-yeide">
  <template>
    <style>
      :host {
        --app-secondary-color: black;

        display: block;
      }
      .example2 {
    padding: -1;
    background: #fff;
    background: -webkit-linear-gradient(180deg, #0BF 0%, #056 100%);
    background: -moz-linear-gradient(180deg, #0BF 0%, #056 100%);
    background: linear-gradient(180deg, #0BF 0%, #056 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cuadrados {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    z-index: -10;
}
.cuadrados li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}
.cuadrados li:nth-child(1) {
    left: 20%;
}
.cuadrados li:nth-child(2) {
    left: 20%;
    width: 60px;
    height: 60px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    animation-duration: 17s;
}
.cuadrados li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}
.cuadrados li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.cuadrados li:nth-child(5) {
    left: 55%;
}
.cuadrados li:nth-child(6) {
    left: 70%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.cuadrados li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
}
.cuadrados li:nth-child(8) {
    left: 80%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
}
.cuadrados li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
}
.cuadrados li:nth-child(11) {
    left: 15%;
    width: 17px;
    height: 17px;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.5);
}
.cuadrados li:nth-child(12) {
    left: 20%;
    width: 28px;
    height: 28px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.1);
}
.cuadrados li:nth-child(13) {
    left: 45%;
    width: 8px;
    height: 8px;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    animation-delay: 17s;
    -webkit-animation-duration: 29s;
    -moz-animation-duration: 29s;
    animation-duration: 29s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(14) {
    left: 50%;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-duration: 19s;
    -moz-animation-duration: 19s;
    animation-duration: 19s;
    background-color: rgba(255, 255, 255, 0.35);
}
.cuadrados li:nth-child(15) {
    left: 67%;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.5);
}
.cuadrados li:nth-child(16) {
    left: 75%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    animation-duration: 25s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(17) {
    left: 10%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    animation-duration: 20s;
    background-color: rgba(255, 255, 255, 0.45);
}
.cuadrados li:nth-child(18) {
    left: 55%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 32s;
    -moz-animation-duration: 32s;
    animation-duration: 32s;
    background-color: rgba(255, 255, 255, 0.4);
}
.cuadrados li:nth-child(19) {
    left: 59%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.4);
}
.cuadrados li:nth-child(20) {
    left: 5%;
    width: 15px;
    height: 15px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(255, 255, 255, 0.25);
}

/*
* Animaciones
*/

@-webkit-keyframes square {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
80% {
    -webkit-transform: translateY(-100%) rotate(600deg);
    transform: translateY(-100%) rotate(600deg);
}
}
@-moz-keyframes square {
    0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -moz-transform: translateY(-100%) rotate(600deg);
    transform: translateY(-100%) rotate(600deg);
}
}
@keyframes square {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
    transform: translateY(-1500px) rotate(600deg);
}
}


      .bg-bubbles li:nth-child(3) {
        left: 25%;
        -webkit-animation-delay: 4s;
                animation-delay: 4s;
      }
      .bg-bubbles li:nth-child(7) {
        left: 32%;
        width: 160px;
        height: 160px;
        -webkit-animation-delay: 7s;
                animation-delay: 7s;
      }
      .bg-bubbles li:nth-child(16) {
        left: 75%;
        width: 20px;
        height: 20px;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
        -webkit-animation-duration: 25s;
                animation-duration: 25s;
        background-color: rgba(255, 255, 255, 0.3);
      }
      .imagenbank{
        width: 200px;
        height: 140px;

      }
      .imagene{
        width: 45px;
        height: 56px;
        align-items: right;
        top: 650px;
      }
      .imagene2{
        width: 40px;
        height: 56px;
        align-items: right;
        top: 650px;
      }


      .button {
      	background-color: #13AFDF;
      	border-radius: 6px;
      	border: none;
      	color: #fff;
      	cursor: pointer;
      	font-size: 14px;
      	padding: 16px 20px;
      	text-align: center;
      	text-transform: uppercase;
      	width: auto;
      }
      .button:hover {
      	background-color: black;

      	color: #fff;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->

      <br />
      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <br />
            <br />
            <br />
            <br />
            <div main-title><img src="../images/1.png" class="imagenbank" alt="..."></div>
            <div class="row">
               <template is="dom-if" if="{{login}}">
                 <template is="dom-if" if="{{!admin}}">
                  <table >
                    <TR>
                      <td>
                        <div class="button" on-click="cuentas" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/consulta2.png" alt="..."><br />Mis Cuentas</div>
                      </td>
                      <td>
                        <div on-click="compras" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/compras.png" alt="..."><br />Compras</div>
                      </td>
                      <td>
                        <div on-click="movi" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/datos.jpg" alt="..."><br />Movimientos</div>
                      </td>
                      <td>
                        <div on-click="vales" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/cambia.jpg" alt="..."><br / />Vales</div>
                      </td>
                      <td>
                           <div on-click="mdatos" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/misdatos.png" alt="..."><br />Mis Datos</div>
                      </td>
                      <td>
                        <div on-click="salir" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/salir.png"  alt="..."><br />Salir</div>
                      </td>
                 </TR>
                 </table>
                 </template>
                 <template is="dom-if" if="{{admin}}">
                   <table>
                     <tr>
                       <td>
                         <div class="button" on-click="nuevo" name="view1" href="[[rootPath]]view1"><img  class="imagene2" src="../images/nuevo.png" alt="..."><br />nuevo</div>
                       </td>
                       <td>
                         <div on-click="salir" class="button" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/salir.png"  alt="..."><br />Salir</div>
                       </td>
                     </tr>
                   </table>
                 </template>
               </template>
               <template is="dom-if" if="{{!login}}">
                 <table>
                   <tr>
                     <td>
                       <div class="button" on-click="logine" name="view1" href="[[rootPath]]view1"><img  class="imagene" src="../images/login.png" alt="..."><br />Login</div>
                     </td>
                   </tr>
                 </table>
               </template>
             </div>
          </app-toolbar>
        </app-header>
        <iron-pages

            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="accliente"
            role="main">
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-accliente name="accliente"></my-accliente>
          <my-inicio name="inicio"></my-inicio>
          <my-datos name="datos"></my-datos>
          <my-cuentas name="cuentas"></my-cuentas>
          <my-movi name="movi"></my-movi>
          <my-nuevo name="nuevo"></my-nuevo>
          <my-vales name="vales"></my-vales>
          <my-compras name="compras"></my-compras>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
    <section class="example2">
      <ul class="cuadrados">
          <li></li>
          <li></li>
          <li></li>
          <li></li
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </section>


  </template>


<script src="../js/my-yeide.js"></script>
</dom-module>
